<div>
    <input type="text" class="form-control" #myInputTitle placeholder="Title..." [(ngModel)]="title" >
    <input type="text" class="form-control" #myInputText placeholder="Text..." [(ngModel)]="text">

    <button class="btn" (click)="addPost()">Add post!</button>
    <button class="btn" (click)="onLoadDefault()">Default style</button>
</div>